body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.social-items-container {
  margin: 100px 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  list-style-type: none;
  margin: 0 16px;
}

.social-item-link {
  position: relative;
  height: 30px;
  width: 30px;
  display: block;
  background-color: white;
  text-align: center;
  -webkit-transform: rotate(-30deg) skew(25deg) translate(0, 0) perspective(1000px);
          transform: rotate(-30deg) skew(25deg) translate(0, 0) perspective(1000px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
          box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.5);
}

.social-item-link::before, .social-item-link::after {
  position: absolute;
  content: "";
  background-color: #b1b1b1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.social-item-link::before {
  top: 4px;
  left: -8px;
  height: 100%;
  width: 8px;
  -webkit-transform: rotate(0) skewY(-45deg);
      -ms-transform: rotate(0) skewY(-45deg);
          transform: rotate(0) skewY(-45deg);
}

.social-item-link::after {
  bottom: -8px;
  left: -4px;
  height: 8px;
  width: 100%;
  -webkit-transform: rotate(0) skewX(-45deg);
      -ms-transform: rotate(0) skewX(-45deg);
          transform: rotate(0) skewX(-45deg);
}

.social-item-link:hover {
  -webkit-transform: rotate(-30deg) skew(25deg) translate(10px, -10px) perspective(1000px);
          transform: rotate(-30deg) skew(25deg) translate(10px, -10px) perspective(1000px);
  -webkit-box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
          box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.5);
}

.social-item-link:hover.facebook {
  background-color: #3b5999;
}

.social-item-link:hover.facebook::before {
  background-color: #2e4a86;
}

.social-item-link:hover.facebook::after {
  background-color: #4a69ad;
}

.social-item-link:hover.twitter {
  background-color: #55acee;
}

.social-item-link:hover.twitter::before {
  background-color: #4184b7;
}

.social-item-link:hover.twitter::after {
  background-color: #4d9fde;
}

.social-item-link:hover.google {
  background-color: #dd4b39;
}

.social-item-link:hover.google::before {
  background-color: #c13929;
}

.social-item-link:hover.google::after {
  background-color: #e8432e;
}

.social-item-link:hover.linkedin {
  background-color: #0077b5;
}

.social-item-link:hover.linkedin::before {
  background-color: #036aa0;
}

.social-item-link:hover.linkedin::after {
  background-color: #0d82bf;
}

.social-item-link:hover.instagram {
  background-color: #e4405f;
}

.social-item-link:hover.instagram::before {
  background-color: #d02d4c;
}

.social-item-link:hover.instagram::after {
  background-color: #f1395c;
}

.social-item-link:hover .social-item-icon {
  color: white;
}

.social-item-icon {
  font-size: 16px;
  line-height: 30px;
  color: #262626;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
